body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
}

.button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 15px 80px;
  border-radius: 50px;
  cursor: pointer;
  margin-bottom: 10px; /* Ajuste este valor para mover o botão para cima ou para baixo */
}

.estilo {
  font-weight: bold;
  margin-bottom: 10px;
}

.input-field {
  
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  font-size: 16px;
  margin-bottom: 35px; /* Espaçamento entre campos */
}

.input-field:focus {
  border-color: #007bff;
  outline: none;
}

.form {
  margin-top: 20px;
}

.number-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.number-table th, .number-table td {
  padding: 10px;
  border: 1px solid #ccc;
}

.number-table th {
  background-color: #007bff;
  color: white;
}
